.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 400px;
    border: 1px solid #020202;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .description {
    text-align: center;
    padding: 20px;
  }
  
  .avatar {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #2c2b2b;
  }
  
  .name {
    color: #000;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .tag,
  .location {
    font-size: 28px;
    color: #757575;
    margin: 0;
  }
  
  .stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    width: 100%;
    height: 80px;
    background-color: #bcbcbe;
    border-top: 1px solid #333131;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-sizing: border-box;
  }
  
  .statsItem {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333131;
  }
  
  .statsItem:last-child {
    border-right: none;
  }
  
  .statsItem:not(:last-child) {
    border-right: 1px solid #030303;
  }
  
  .stats li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .label {
    font-size: 17px;
    color: #000000;
    margin-bottom: 5px;
  }
  
  .quantity {
    font-size: 20px;
    font-weight: bold;
  }